html,body{
	padding: 0;
	margin: 0;
	background: #111;
}
@font-face{
	font-family: Drift;
	src: url('../fonts/Drift.ttf')
}
@font-face{
	font-family: Allan;
	src: url('../fonts/Allan-Regular.ttf')
}
@font-face{
	font-family: MouseMemoirs;
	src: url('../fonts/MouseMemoirs-Regular.ttf')
}
@font-face{
	font-family: Carnevalee;
	src: url('../fonts/Carnevalee Freakshow.ttf')
}
*{
	color: #DDD;
}
.abswrap{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
}
.fixwrap{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	overflow: hidden;
}
#jpreContent{
	background: #DDD;
	background: url('../img/loadingbg.png') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
	width: 100%;
	height: 100%;
}
#jprePercentage{
	color: #111;
	left: 35%;
}
#jpreButton{
	font: 40px MouseMemoirs;
	color: #222;
	text-align: center;
	cursor: pointer;
}
#navbar{z-index: 5;}
#navbar ul{
	font: 175% MouseMemoirs;
	background: rgba(160, 29, 4,0.7);
	padding: 0;
	margin: 0;
	list-style-type: none;
}
#navbar ul li{
  -webkit-transition: all 0.3s ease-out; 
     -moz-transition: all 0.3s ease-out; 
       -o-transition: all 0.3s ease-out; 
          transition: all 0.3s ease-out; 
    color: #CAA9A9;
	padding: 2px 25px;
	display: inline;
}
#navbar ul li:hover{
	color: #FFF;
	background: #961700;
	cursor: pointer;
}
#content{
	margin: 32px auto 0 auto;
	width: 100%;
}
#modals{
	position: absolute;
	width: 100%;
}
.topic{cursor: pointer;}
#register{
	position: relative;
	padding: 20px;
	border-radius: 10px;
	box-shadow: #000 0 0 25px 2px;
	width:40%;
	background: rgba(83, 17, 5, 0.9);
	margin: 5% auto;
}
#regform{
	font: 200% MouseMemoirs;
	padding: 50px;
}
#regform table{
	padding: 10px 40px;
	border-radius: 10px;
	background: rgba(0,0,0, 0.7);
}
#regform td{
	padding: 8px;
}
#regform input{
	border-radius: 4px;
	font-size: 100%;
	color: #EEE;
	border: 0;
}
#regform input[type=text]{
	padding: 7px;
	background: rgba(220,220,240,0.15);
	width: 250px;
}
#regform input[type=text]:hover{
	background: rgba(220,220,240,0.25);
}
#regform input[type=button],#regform input[type=submit]{
	padding: 5px 20px;
	border-radius: 4px;
	background: rgba(320,20,0,0.3);
}
#regform input[type=button]:hover,#regform input[type=submit]:hover{
	background: rgba(360,60,40,0.6);
}
#sponsors{
	margin: 50px;
}
#sponsors img{
	margin: 20px;
	padding: 10px;
	border-radius: 6px;
	background: #666;
}
#evt-sidebar{
	width: 20%;
	height: 100%;
	overflow: auto;
	background: #AAA;
}
#evt-sidebar ul{
	padding: 0;
	margin: 0;
}
#evt-sidebar li{
	color: #222;
	list-style-type: none;
	padding: 15px;
	font: 120% Carnevalee;
}
#evt-sidebar li:hover{
	background: #C0BBBB;
	cursor: pointer;
}
#evt-details{overflow: auto;}
#evt-abst{
	font: 120% Allan;
	padding: 70px;
	line-height: 27px;
}
#evt-imgdiv{
	width:100%;
	max-height: 300px;
	overflow: auto;
}
#evt-img{
	width:100%;
}
#evt-title {
	font: 250% Carnevalee;
	text-align: center;
	color: rgb(236, 220, 136);
	padding-top: 20px;
}