html,body{
	padding: 0;
	margin: 0;
	background: #111;
}
@font-face{
	font-family: Drift;
	src: url('../fonts/Drift.ttf')
}
@font-face{
	font-family: Allan;
	src: url('../fonts/Allan-Regular.ttf')
}
@font-face{
	font-family: MouseMemoirs;
	src: url('../fonts/MouseMemoirs-Regular.ttf')
}
@font-face{
	font-family: Carnevalee;
	src: url('../fonts/Carnevalee Freakshow.ttf')
}
*{
	color: #000;
}
.abswrap{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
}
.fixwrap{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	overflow: hidden;
}
.clearfix{float: none;}
#jpreContent{
	background: #111 no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
	width: 100%;
	height: 100%;
}
#preloader{
	background: #DDD no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
	width: 100%;
	height: 100%;
	z-index: 20;
}
#jprePercentage{
	color: #AAA;
	left: 35%;
}
#loading{
	position: relative;
	top:70%;
	font: 40px MouseMemoirs;
	color: #222;
	text-align: center;
	cursor: pointer;
	margin-right: 22px;
}
#navbar{z-index: 5;}
#navbar ul{
	font: 125% MouseMemoirs;
	background: rgba(0, 0, 0, 0.6);
	padding: 4px;
	margin: 0;
	list-style-type: none;
}
#navbar ul li{
-webkit-transition: all 0.3s ease-out; 
   -moz-transition: all 0.3s ease-out; 
     -o-transition: all 0.3s ease-out; 
        transition: all 0.3s ease-out; 
	padding: 2px 25px;
	display: inline;
	cursor: pointer;
}
#navbar ul li:not(.nav-right){color: #E6DBDB;}
#navbar ul li:not(.nav-right):hover{
	color: #FFF;
	background: #961700;
}
.nav-right{
	float: right;
	color: #E97272;
}
#main{
	background: url(../img/loadingbg.jpg) #DDD no-repeat center center fixed; 
-webkit-background-size: cover;
   -moz-background-size: cover;
     -o-background-size: cover;
        background-size: cover;
}
#content{
	margin: 30px auto 0 auto;
	width: 100%;
}
#confetti{
	position: fixed;
	width: 100%;
	height: 100%;
}
.homefoot{
	position:fixed;
	bottom:0;
	width:100%;
	height:100px;
}
.homefoot .left{background:url(../img/redbg.png);}
.homefoot .right{background:url(../img/redbg.png);}
.homefoot .side{
	font: 140% Carnevalee;
	color: #ffe4c4;
	text-align:center;
	float:left;
	width:16%;
	background-size: 100%;
	height:150px;
	padding: 2%;
}
.homefoot .middle{
	float: left;
	height: 100%;
	width: 60%;
}
.homefoot .middiv{
	font: 140% Carnevalee;
	color: #fff;
	text-align:center;
	width:19%;
	float: left;
	margin: 5% 5%;
	background:url(../img/blackbg.png);
	background-size: 100% 100%;
	height:20px;
	padding: 2%;
}
.homefoot .caption{
	position: absolute;
	width: 60%;
	top :5px;
	text-align: center;
	font: 120% MouseMemoirs;
	color: #111;
	padding-bottom: 8px;
}
#events{
	width: 100%;
	height: 100%;
	background: rgba(17,17,17,0.85);
}
#modals{
	position: absolute;
	width: 100%;
}
.topic{
	cursor: pointer;
	position : absolute;
	width : 150px;
	height : 80px;
}
.topic img{height:100%;}
.topic .topic-imgdiv{width:80px;margin:0 auto;}
.topic-title{
	margin: 0;
	width : 150px;
	text-align : center;
	font : 160% Carnevalee;
	color : #555;
}
.topic-title:hover{
	color : #111;
}
.teamtop{
	background: rgba(0,0,0,0.65);
	width: 100%;
	height: 60%;
	overflow: auto;
	position:absolute;
}
.teambottom{
	background: rgba(0,0,0,0.65);
	border: solid 1px 0;
	width: 100%;
	top:-moz-calc(60% + 31px);
	top:-webkit-calc(60% + 31px);
	top:calc(60% + 31px);
	height: 40%;
	z-index: 2;
	position:absolute;
	overflow:hidden;
}
.teamtop .card{
	margin-left:5%;
	text-align: center;
	position: relative;
	height: 315px;
	float: left;
	font: 120% MouseMemoirs;
}
.teamtop .card .cardwrap{
	padding: 40px;
	width: 350px;
}
.teamtop .card img{
	width: 150px;
}
.teamtop .card .cardwrap .card-title{
	position: absolute;
	background: url('../img/whitebg.png');
	background-size:100% 100%;
	bottom: 0;
	left: 0;
	width: 100%;
	text-shadow: 0 0 15px #000;
	text-align: center;
	color: #000;
	font: 150% Carnevalee;
	padding: 8px;
}
.teambottom .card{
	text-align: center;
	position: relative;
	height: 100%;
	width: 25%;
	float: left;
	font: 120% MouseMemoirs;
}
.teambottom .card .cardwrap{padding: 20px; }
.teambottom .card .card-title{
	color: #DEB887;
text-shadow: 0 0 15px #000;
	font: 150% Carnevalee;
	padding: 8px;
}
.sidebar{
	width: 20%;
	height: 100%;
	overflow: auto;
	float:left;
	position:absolute;
	z-index: 1;
	background: url(../img/sidebarbg.png) repeat-y; 
-webkit-background-size: 100% 100%;
   -moz-background-size: 100% 100%;
     -o-background-size: 100% 100%;
        background-size: 100% 100%;
}
.sidebar ul{
	padding: 0;
	margin: 0;
}
.sidebar li{
	list-style-type: none;
	text-align: center;
	padding: 10px;
	font: 120% Carnevalee;
}
.sidebar li:hover{
	color: #fff;
	cursor: pointer;
}
.evt-sel{
color: #fff;
}

.details{width: 85%; height: 100%; z-index:0; overflow: auto;margin-left:15%; position:absolute}
.details .abst{
	font: 120% Allan;
	padding: 70px;
	line-height: 27px;
}
.details .imgdiv{
	width:100%;
	max-height: 400px;
	overflow: hidden;
}
.details .img{width:100%; }
.details .title {
	font: 250% Carnevalee;
	text-align: center;
	color: rgb(236, 220, 136);
	padding-top: 5x;
}
#sponsors{margin: 50px; }
#sponsors img{
	width: 18%;
	max-height: 20%;
	margin: 2%;
	padding: 0px;
	border-radius: 6px;
	background: #FFF;
	box-shadow: rgba(0,0,0,0.5) 0 0 15px 2px;
}
.themedesc{
	text-align: center;
	background: url('../img/redbg.png') no-repeat;
	background-size: 100%;
	font: 150% MouseMemoirs;
	color: #022563;
	padding: 30px 100px;
	height: 50%;
}
.themedesc p{
	color: #09C;
}
.about{
	text-align: center;
	background: url('../img/redbg.png') no-repeat;
	background-size: 100% 80%;
	font: 150% MouseMemoirs;
	color: #022563;
	margin-top:10%;
	padding: 30px 200px;
	height:80%;
}
.about p{
	color: #09C;
}
#social{
	background: url('../img/marathon.png') no-repeat center center fixed; 
	width: 100%;
	height: 100%;
-webkit-background-size: 100%;
   -moz-background-size: 100%;
     -o-background-size: 100%;
        background-size: 100%;
}
#social-title{
	font: 200% Impact;
	color: #32350A;
	padding: 30px 80px;
}
#proshows{background: rgba(223, 202, 149, 0.63); }
.protop{width: 100%;height: 70%;}
.probottom{width: 100%;height: 30%;}
#register{
	position: relative;
	padding: 20px;
	border-radius: 10px;
	box-shadow: #000 0 0 25px 2px;
	width:40%;
	background: rgba(83, 17, 5, 0.9);
	margin: 5% auto;
}
#regform{
	font: 200% MouseMemoirs;
	padding: 5%;
}
#regform table{
	padding: 3% 7%;
	border-radius: 10px;
	width: 100%;
	background: rgba(0,0,0, 0.7);
}
#regform td{
	padding: 8px;
}
#regform input{
	border-radius: 4px;
	font-size: 100%;
	color: #EEE;
	border: 0;
}
#regform input[type=text]{
	padding: 7px;
	background: rgba(220,220,240,0.15);
	width: 100%;
}
#regform input[type=text]:hover{
	background: rgba(220,220,240,0.25);
}
#regform input[type=button],#regform input[type=submit]{
	padding: 5px 20px;
	border-radius: 4px;
	background: rgba(320,20,0,0.3);
}
#regform input[type=button]:hover,#regform input[type=submit]:hover{
	background: rgba(360,60,40,0.6);
}
.floating {
    float: left;
    -webkit-animation-name: Floatingx;
    -webkit-animation-duration: 3s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out;
    -moz-animation-name: Floating;
    -moz-animation-duration: 3s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: ease-in-out;
    margin-left: 30px;
    margin-top: 5px;
}
@-webkit-keyframes Floatingx {
    from {
        -webkit-transform:translate(0, 0px);
    }
    65% {
        -webkit-transform:translate(0, 15px);
    }
    to {
        -webkit-transform: translate(0, -0px);
    }
}
@-moz-keyframes Floating {
    from {
        -moz-transform:translate(0, 0px);
    }
    65% {
        -moz-transform:translate(0, 15px);
    }
    to {
        -moz-transform: translate(0, -0px);
    }
}
