html,body{
	padding: 0;
	margin: 0;
	background: #111;
}
@font-face{
	font-family: Drift;
	src: url('../fonts/Drift.ttf')
}
@font-face{
	font-family: Allan;
	src: url('../fonts/Allan-Regular.ttf')
}
@font-face{
	font-family: MouseMemoirs;
	src: url('../fonts/MouseMemoirs-Regular.ttf')
}
@font-face{
	font-family: Carnevalee;
	src: url('../fonts/Carnevalee Freakshow.ttf')
}
*{
	color: #DDD;
}
.abswrap{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
}
.fixwrap{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	overflow: hidden;
}
#jpreContent{
	background: #111 no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
	width: 100%;
	height: 100%;
}
#preloader{
	background: #DDD no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
	width: 100%;
	height: 100%;
	z-index: 20;
}
#jprePercentage{
	color: #AAA;
	left: 35%;
}
#loading{
	position: relative;
	top:70%;
	font: 40px MouseMemoirs;
	color: #222;
	text-align: center;
	cursor: pointer;
	margin-right: 22px;
}
#navbar{z-index: 5;}
#navbar ul{
	font: 125% MouseMemoirs;
	background: rgba(0, 0, 0, 0.6);
	padding: 4px;
	margin: 0;
	list-style-type: none;
}
#navbar ul li{
-webkit-transition: all 0.3s ease-out; 
   -moz-transition: all 0.3s ease-out; 
     -o-transition: all 0.3s ease-out; 
        transition: all 0.3s ease-out; 
	padding: 2px 25px;
	display: inline;
	cursor: pointer;
}
#navbar ul li:not(.nav-right){color: #E6DBDB;}
#navbar ul li:not(.nav-right):hover{
	color: #FFF;
	background: #961700;
}
.nav-right{
	float: right;
	color: #E97272;
}
#main{
	background: url(../img/loadingbg.jpg) #DDD no-repeat center center fixed; 
-webkit-background-size: cover;
   -moz-background-size: cover;
     -o-background-size: cover;
        background-size: cover;
}
#content{
	margin: 30px auto 0 auto;
	width: 100%;
}
#homecnv{
	position: fixed;
	width: 100%;
	height: 100%;
}
.homefoot{
	position:fixed;
	bottom:0;
	width:100%;
	height:100px;
}
.homefoot .left{background:url(../img/redbg.png);}
.homefoot .right{background:url(../img/redbg.png);}
.homefoot .side{
	font: 140% Carnevalee;
	color: #ffe4c4;
	text-align:center;
	float:left;
	width:16%;
	background-size: 100%;
	height:150px;
	padding: 2%;
}
.homefoot .middle{
	float: left;
	height: 100%;
	width: 60%;
}
.homefoot .middiv{
	font: 140% Carnevalee;
	color: #fff;
	text-align:center;
	width:19%;
	float: left;
	margin: 0 5%;
	background:url(../img/blackbg.png);
	background-size: 100% 100%;
	height:20px;
	padding: 2%;
}
.homefoot .caption{
	position: absolute;
	bottom: 0;
	width: 60%;
	text-align: center;
	font: 120% MouseMemoirs;
	color: #111;
	padding-bottom: 8px;
}
#events{
	width: 100%;
	height: 100%;
	background: rgba(17,17,17,0.85);
}
#modals{
	position: absolute;
	width: 100%;
}
.topic{
	cursor: pointer;
	position : absolute;
	width : 150px;
	height : 80px;
}
.topic img{height:100%;}
.topic .topic-imgdiv{width:80px;margin:0 auto;}
.topic-title{
	margin: 0;
	width : 150px;
	text-align : center;
	font : 160% Carnevalee;
	color : #555;
}
.topic-title:hover{
	color : #111;
}
#evt-sidebar{
	width: 20%;
	height: 100%;
	overflow: auto;
	background-repeat: repeat-y; 
-webkit-background-size: 100%;
   -moz-background-size: 100%;
     -o-background-size: 100%;
        background-size: 100%;
}
#evt-sidebar ul{
	padding: 0;
	margin: 0;
}
#evt-sidebar li{
	color: #222;
	list-style-type: none;
	padding: 15px;
	font: 120% Carnevalee;
}
#evt-sidebar li:hover{
	color: #600;
	cursor: pointer;
}
#evt-sidebar .evt-sel{background: #EEE; }
#evt-details{width: 80%;height: 100%;overflow: auto;}
#evt-abst{
	font: 120% Allan;
	padding: 70px;
	line-height: 27px;
}
#evt-imgdiv{
	width:100%;
	max-height: 300px;
	overflow: auto;
}
#evt-img{width:100%; }
#evt-title {
	font: 250% Carnevalee;
	text-align: center;
	color: rgb(236, 220, 136);
	padding-top: 20px;
}
#register{
	position: relative;
	padding: 20px;
	border-radius: 10px;
	box-shadow: #000 0 0 25px 2px;
	width:40%;
	background: rgba(83, 17, 5, 0.9);
	margin: 5% auto;
}
#regform{
	font: 200% MouseMemoirs;
	padding: 5%;
}
#regform table{
	padding: 3% 7%;
	border-radius: 10px;
	width: 100%;
	background: rgba(0,0,0, 0.7);
}
#regform td{
	padding: 8px;
}
#regform input{
	border-radius: 4px;
	font-size: 100%;
	color: #EEE;
	border: 0;
}
#regform input[type=text]{
	padding: 7px;
	background: rgba(220,220,240,0.15);
	width: 100%;
}
#regform input[type=text]:hover{
	background: rgba(220,220,240,0.25);
}
#regform input[type=button],#regform input[type=submit]{
	padding: 5px 20px;
	border-radius: 4px;
	background: rgba(320,20,0,0.3);
}
#regform input[type=button]:hover,#regform input[type=submit]:hover{
	background: rgba(360,60,40,0.6);
}
#sponsors{
	margin: 50px;
}
#sponsors img{
	margin: 20px;
	padding: 10px;
	border-radius: 6px;
	background: #666;
}
#social{
	background: url('../img/marathon.png') no-repeat center center fixed; 
	width: 100%;
	height: 100%;
-webkit-background-size: 100%;
   -moz-background-size: 100%;
     -o-background-size: 100%;
        background-size: 100%;
}
#social-title{
	font: 200% Impact;
	color: #32350A;
	padding: 30px 80px;
}
.floating {
    float: left;
    -webkit-animation-name: Floatingx;
    -webkit-animation-duration: 3s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out;
    -moz-animation-name: Floating;
    -moz-animation-duration: 3s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: ease-in-out;
    margin-left: 30px;
    margin-top: 5px;
}
@-webkit-keyframes Floatingx {
    from {
        -webkit-transform:translate(0, 0px);
    }
    65% {
        -webkit-transform:translate(0, 15px);
    }
    to {
        -webkit-transform: translate(0, -0px);
    }
}
@-moz-keyframes Floating {
    from {
        -moz-transform:translate(0, 0px);
    }
    65% {
        -moz-transform:translate(0, 15px);
    }
    to {
        -moz-transform: translate(0, -0px);
    }
}